*{margin:0;padding: 0;}
body{font-family: 'Roboto', sans-serif;}



h2{color: #2e2e2e;
    font-weight: bold;
    font-size: 2rem;
}

.bg-one{background-color: #f8f8f8;}
.bg-two{background-color:#00bed7;}
.para{
    color: #353535;
    line-height: 31px;}

.tit{font-weight: bold;
font-size: 2rem;color:#00bed7 !important;margin-left: 15px;}


.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	width:140px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{

	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;height: 47px;
}

.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #fff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #00bed7 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #00bed7;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
    left:-300px;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #004658!important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}
body.hero-anime h1 span:nth-child(1){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(5){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(6){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
	opacity: 0;
	transform: translateY(-40px);
}
body.hero-anime h1 span:nth-child(8){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(9){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
	opacity: 0;
	transform: translateY(-20px);
}
h1 span:nth-child(1){
    transition-delay: 1000ms;
}
h1 span:nth-child(2){
    transition-delay: 700ms;
}
h1 span:nth-child(3){
    transition-delay: 900ms;
}
h1 span:nth-child(4){
    transition-delay: 800ms;
}
h1 span:nth-child(5){
    transition-delay: 1000ms;
}
h1 span:nth-child(6){
    transition-delay: 700ms;
}
h1 span:nth-child(7){
    transition-delay: 900ms;
}
h1 span:nth-child(8){
    transition-delay: 800ms;
}
h1 span:nth-child(9){
    transition-delay: 600ms;
}
h1 span:nth-child(10){
    transition-delay: 700ms;
}
body.hero-anime h1 span:nth-child(11){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
	opacity: 0;
	transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
	opacity: 0;
	transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
	opacity: 0;
	transform: translateY(50px);
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 60px;
	height: 8px;
	border: 2px solid #8167a9;
	border-radius: 27px;
	background: #000;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #000;
}
.switched {
	border-color: #000 !important;
	background: #8167a9 !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color:#00bed7;
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.carousel-item img{width:100%;height:600px;}



.tabs {
	width: 100%;
background-color:#00bed7;border: 4px solid #ffff;
	
	
	
	border-radius: 5px 5px 5px 5px;
  }
  ul#tabs-nav {
	list-style: none;
	margin: 0;
	padding: 5px;
	overflow: auto;
  }
  ul#tabs-nav li {
	float: left;
	font-weight: bold;
	margin-right: 2px;
	padding: 8px 10px;
	border-radius: 5px 5px 5px 5px;
	/*border: 1px solid #d5d5de;
	border-bottom: none;*/
	cursor: pointer;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
    background-image: linear-gradient(
        315deg
        , #fbb034 0%, #ffdd00 74%);color: #000;
  }
  #tabs-nav li a {
	text-decoration: none;
	color: #000;font-weight: 400;
  }
  .tab-content {
	padding: 10px;

	background-color: #FFF;
	height: 1250px;
	

  }

  .btn {
	background: transparent;
	color: inherit;
	text-decoration: none;
	border: 0;
	transition: all 200ms ease-in;
	display: inline-block;
  }
  .btn-default {
	color: black;
	font-weight: 500;
	
	border: 1px solid black;
	padding: 12px 28px;
  }
  .btn-default:hover {
	1003px;
    background-image: linear-gradient(
315deg
, #fbb034 0%, #ffdd00 74%);
	color: #000;
  }
  .btn--skew {
	transform: skew(-10deg);
  }
  .btn--skew > span {
	transform: skew(10deg);
	display: inline-block;
  }

  .swing {    background-image: linear-gradient(
	315deg
	, #fbb034 0%, #ffdd00 74%);
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;width:80px;height:71px;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.fa-spin{font-size: 22px!important;}

.topic{font-size:25px;text-shadow: 1px 1px #000}
.pad{padding-left: 110px;}
.my{background-image: linear-gradient(
	315deg
	, #fbb034 0%, #ffdd00 74%) !important;}




	
	.floating {  
		animation-name: floating;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		margin-left: 30px;
		margin-top: 5px;
	}
	
	@keyframes floating {
		from { transform: translate(0,  0px); }
		65%  { transform: translate(0, 15px); }
		to   { transform: translate(0, -0px); }    
	}


	.card {
		margin: 0 auto;
		border: none;
	}
	.card .carousel-item {
		min-height: 190px;
	}
	.card .carousel-caption {
		padding: 0;
		right: 15px;
		left: 15px;
		top: 15px;
		color: #3d3d3d;
		border: 1px solid #ccc;
		min-height:175px;
		padding: 15px;
	}
	.card .carousel-caption .col-sm-3 {
		display: flex;
		align-items: center;
	}
	.card .carousel-caption .col-sm-9 {
		text-align: left;
	}
	.card .carousel-control-prev, .card .carousel-control-next {
		color: #3d3d3d !important;
		opacity: 1 !important;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		background-image: none;
		color: #fff;
		font-size: 14px;
		background-color:#00bed7;
		height: 32px;
		line-height: 32px;
		width: 32px;
		margin-top: -71px;
	
	}
	.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
		opacity: 0.85;
	}
	.carousel-control-prev {
		left: 40%;
		top: 110%;
	}
	.carousel-control-next {
		right: 40%;
		top: 110%;
	}
	.midline {
		width: 60px;
		border-top: 1px solid #d43025;
	}

	.small, small {
		font-size: 95% !important;
		font-weight: 400;
	}
	.carousel-caption h2 {
		font-size: 22px;
	}
	.carousel-caption h2 span {
		color: #cd3a54;
	}
	 @media (min-width: 320px) and (max-width: 575px) {
	.carousel-caption {
		position: relative;
	}
	.card .carousel-caption {
		left: 0;
		top: 0;
		margin-bottom: 15px;
	}
	.card .carousel-caption img {
		margin: 0 auto;
	}
	.carousel-control-prev {
		left: 35%;
		top: 105%;
	}
	.carousel-control-next {
		right: 35%;
		top: 105%;
	}
	.card .carousel-caption h3 {
		margin-top: 0;
		font-size: 16px;
		font-weight: 700;
	}
	}
	@media (min-width: 576px) and (max-width: 767px) {
	.carousel-caption {
		position: relative;
	}
	.card .carousel-caption {
		left: 0;
		top: 0;
		margin-bottom: 15px;
	}
	.card .carousel-caption img {
		margin: 0 auto;
	}
	.card .carousel-caption h3, .card .carousel-caption small {
		text-align: center;
	}
	.carousel-control-prev {
		left: 35%;
		top: 105%;
	}
	.carousel-control-next {
		right: 35%;
		top: 105%;
	}
	}
	@media (min-width: 767px) and (max-width: 991px) {
	.card .carousel-caption h3 {
		margin-top: 0;
		font-size: 16px;
		font-weight: 700;
	}
	}
	

	.t1{width:100px!important;height: 100px!important;margin-top: -10px!important;}


	.pg-footer {
		font-family: "Khand", sans-serif;
	  }
	  
	  
	  .footer {
		  background-color: #004658;
	  }
	  .footer-wave-svg {
		  background-color: transparent;
		  display: block;
		  height: 30px;
		  position: relative;
		  top: -1px;
		  width: 100%;
	  }
	  .footer-wave-path {
		  fill: #fffff2;
	  }
	  
	  .footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 40px 15px 450px;
		  position: relative;
	  }
	  
	  .footer-content-column {
		  box-sizing: border-box;
		  float: left;
		  padding-left: 15px;
		  padding-right: 15px;
		  width: 100%;
		  color: #fff;
	  }
	  
	  .footer-content-column ul li a {
		color: #fff;
		text-decoration: none;
	  }
	  
	  .footer-logo-link {
		  display: inline-block;
	  }
	  .footer-menu {
		  margin-top: 30px;
	  }
	  
	  .footer-menu-name {
		  color: #fffff2;
		  font-size: 15px;
		  font-weight: 900;
		  letter-spacing: .1em;
		  line-height: 18px;
		  margin-bottom: 0;
		  margin-top: 0;
		  text-transform: uppercase;
	  }
	  .footer-menu-list {
		  list-style: none;
		  margin-bottom: 0;
		  margin-top: 10px;
		  padding-left: 0;
	  }
	  .footer-menu-list li {
		  margin-top: 5px;
	  }
	  
	  .footer-call-to-action-description {
		  color: #fffff2;
		  margin-top: 10px;
		  margin-bottom: 20px;
	  }
	  .footer-call-to-action-button:hover {
		  background-color: #fffff2;
		  color: #00bef0;
	  }
	  .button:last-of-type {
		  margin-right: 0;
	  }
	  .footer-call-to-action-button {
		  background-color: #027b9a;
		  border-radius: 21px;
		  color: #fffff2;
		  display: inline-block;
		  font-size: 11px;
		  font-weight: 900;
		  letter-spacing: .1em;
		  line-height: 18px;
		  padding: 12px 30px;
		  margin: 0 10px 10px 0;
		  text-decoration: none;
		  text-transform: uppercase;
		  transition: background-color .2s;
		  cursor: pointer;
		  position: relative;
	  }
	  .footer-call-to-action {
		  margin-top: 30px;
	  }
	  .footer-call-to-action-title {
		  color: #fffff2;
		  font-size: 14px;
		  font-weight: 900;
		  letter-spacing: .1em;
		  line-height: 18px;
		  margin-bottom: 0;
		  margin-top: 0;
		  text-transform: uppercase;
	  }
	  .footer-call-to-action-link-wrapper {
		  margin-bottom: 0;
		  margin-top: 10px;
		  color: #fff;
		  text-decoration: none;
	  }
	  .footer-call-to-action-link-wrapper a {
		  color: #fff;
		  text-decoration: none;
	  }
	  
	  
	  
	  
	  
	  .footer-social-links {
		  bottom: 0;
		  height: 54px;
		  position: absolute;
		  right: 0;
		  width: 236px;
	  }
	  
	  .footer-social-amoeba-svg {
		  height: 54px;
		  left: 0;
		  display: block;
		  position: absolute;
		  top: 0;
		  width: 236px;
	  }
	  
	  .footer-social-amoeba-path {
		  fill: #027b9a;
	  }
	  
	  .footer-social-link.linkedin {
		  height: 26px;
		  left: 3px;
		  top: 11px;
		  width: 40px;
	  }
	  
	  .footer-social-link {
		  display: block;
		  padding: 10px;
		  position: absolute;
	  }
	  
	  .hidden-link-text {
		  position: absolute;
		  clip: rect(1px 1px 1px 1px);
		  clip: rect(1px,1px,1px,1px);
		  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
		  clip-path: inset(0px 0px 99.9% 99.9%);
		  overflow: hidden;
		  height: 1px;
		  width: 1px;
		  padding: 0;
		  border: 0;
		  top: 50%;
	  }
	  
	  .footer-social-icon-svg {
		  display: block;
	  }
	  
	  .footer-social-icon-path {
		  fill: #fffff2;
		  transition: fill .2s;
	  }
	  
	  .footer-social-link.twitter {
		  height: 28px;
		  left: 62px;
		  top: 3px;
		  width: 40px;
	  }
	  
	  .footer-social-link.youtube {
		  height: 24px;
		  left: 123px;
		  top: 12px;
		  width: 40px;
	  }
	  
	  .footer-social-link.github {
		  height: 34px;
		  left: 172px;
		  top: 7px;
		  width: 40px;
	  }
	  
	  .footer-copyright {
		  background-color: #027b9a;
		  color: #fff;
		  padding: 15px 30px;
		text-align: center;
	  }
	  
	  .footer-copyright-wrapper {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1200px;
	  }
	  
	  .footer-copyright-text {
		color: #fff;
		  font-size: 13px;
		  font-weight: 400;
		  line-height: 18px;
		  margin-bottom: 0;
		  margin-top: 0;
	  }
	  
	  .footer-copyright-link {
		  color: #fff;
		  text-decoration: none;
	  }
	  
	  
	  
	  
	  
	  
	  
	  /* Media Query For different screens */
	  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
		.footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 40px 15px 1050px;
		  position: relative;
		}
	  }
	  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
		.footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 40px 15px 1050px;
		  position: relative;
		}
	  }
	  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
		.footer-content {
		  margin-left: auto;
		  margin-right: auto;
		  max-width: 1230px;
		  padding: 40px 15px 1050px;
		  position: relative;
		}
	  }
	  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	  
	  }
	  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
	  
	  }
	  @media (min-width:1281px) { /* hi-res laptops and desktops */
	  
	  }
	  
	  
	  
	  
	  @media (min-width: 760px) {
		.footer-content {
			margin-left: auto;
			margin-right: auto;
			max-width: 1230px;
			padding: 40px 15px 450px;
			position: relative;
		}
	  
		.footer-wave-svg {
			height: 50px;
		}
	  
		.footer-content-column {
			width: 24.99%;
		}
	  }
	  @media (min-width: 568px) {
		/* .footer-content-column {
			width: 49.99%;
		} */
	  }
	  
	  .imd{width:60px;height:30px;}


	  .bts {
		color: #fff;
		text-decoration: none;
		font-family: Arial;
		font-weight: 500;
		font-size: 17px;
		display: block;
		padding: 4px;
		color:#000;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		position: relative;
		top: 50%;
		left: 50%;
		z-index: 9999;
		transform: translate(236%,-2015%);
		
		width: 134px;
		/* BACKGROUND-COLOR: MAIN FACE COLOUR (SHOULD BE BRIGHTER) */
		text-align: center;
		/* SIDE COLOUR (SHOULD BE DARKER) THE SECOND RGBA VALUES ARE THE SHADOW */
	background-image: linear-gradient(
315deg
, #fbb034 0%, #ffdd00 74%);
		/* ANIMATION, SHOULD BE REALLY QUICK */
		box-shadow: 0px 9px 0px #be7b18, 0px 9px 25px rgba(0, 0, 0, .7);
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
	  }
	  .bts:active {
		-webkit-box-shadow: 0px 3px 0px #992d26, 0px 3px 10px rgba(0, 0, 0, .9);
		-moz-box-shadow: 0px 3px 0px #992d26, 0px 3px 10px rgba(0, 0, 0, .9);
		box-shadow: 0px 3px 0px #992d26, 0px 3px 10px rgba(0, 0, 0, .9);
		color:#000;
	  }
	  .bts:hover{color:#000;text-decoration:none;}

	  .coolbtn{display: flex !important;}